{% extends 'oneXbet/layouts/basic.html' %}
{% block root %}
    <center><h1>app index page</h1></center>

<!--    <div class="container">-->
<!--        <div>-->
<!--            {% if appList %}-->
<!--                {% for app in appList %}-->
<!--                    <div style="padding-top: 30px;">-->
<!--                        <a href="{{ app.get_absolute_url }}" style="text-decoration: none;">-->
<!--                            <center>-->
<!--                            <div class="card mb-3" style="max-width: 840px ;background-color: black">-->
<!--                                <div class="row g-0">-->
<!--                                    <div class="col-md-4">-->
<!--                                        <img src="{{ app.poster.url }}" height="300" width="300" class="img-fluid rounded-start" alt="...">-->
<!--                                    </div>-->
<!--                                    <div class="col-md-8">-->
<!--                                        <div class="card-body">-->
<!--                                            <h5 class="card-title">{{ app.name }}</h5>-->
<!--                                            <p class="card-text">{{ app.description }}</p>-->
<!--                                            <p class="card-text"><small >{{ app.created_at }}</small>-->
<!--                                            </p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                                </center>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                {% endfor %}-->
<!--            {% endif %}-->
<!--        </div>-->
<!--    </div>-->
{% endblock %}
