{% extends 'oneXbet/layouts/layout.html' %}
{% block root %}
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25">
                                        {% if myUser.avatarImg %}
                                            <img src="{{ myUser.avatarImg.url }}" class="img-radius" alt="User-Profile-Image">
                                        {% endif %}
                                    </div>
                                    <h6 class="f-w-600">{{ myUser.user.username }}</h6>
                                    <p> name:{{ myUser.user.first_name }} {{ myUser.user.last_name }}</p>
                                    <p>location: {{ myUser.location }}</p>
                                    <p>social: {{ myUser.socialAccount }}</p>
                                    <p> money:{{ myUser.money }} tg</p>
                                    <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Email</p>
                                            <h6 class="text-muted f-w-400">{{ myUser.user.email }}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Phone</p>
                                            <h6 class="text-muted f-w-400">
                                                {% if myUser.phone %}
                                                    {{ myUser.phone }}
                                                {% else %}
                                                    no phone number
                                                {% endif %} </h6>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Bio</h6>
                                    <div class="row">
                                        {{ myUser.info }}
                                    </div>
                                    <ul class="social-link list-unstyled m-t-40 m-b-10">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#exampleModal"> edit profile</button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                     <form method="post" enctype="multipart/form-data">
                                                    <div class="modal-body">
                                                            {% csrf_token %}
                                                            {{ form.as_p }}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Save changes
                                                        </button>
                                                    </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
