{% extends 'oneXbet/layouts/layout.html' %}
{% block root %}
<h1>SHOOOOOOOOOOOOOOOOOOW Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi illum necessitatibus?</h1>
<!--    {#{% for i in app.appimage_set.all %}#}-->
<!--    {#       <h3> {{ i.image }}</h3>#}-->
<!--    {#    {% endfor %}#}-->
<!--    <br>-->
<!--    <br>-->

<!--    <div class="container">-->
<!--        <center>-->
<!--            <div class="card text-bg-dark" style="width: 80% ; height: 60%">-->

<!--                <img src="https://m.pllsll.com/pollskill/storage/6d/f5/ed/67a7f920f2d.gif" class="card-img" alt="...">-->
<!--                <div class="card-img-overlay">-->
<!--                    <h3 class="card-title" style="color: black">{{ app.name }}</h3>-->
<!--                    <p class="card-text" style="color: black">{{ app.description }}</p>-->
<!--                    <p class="card-text" style="color: black"><small>{{ app.created_at }}</small></p>-->
<!--                    <p class="card-text" style="color: black"><small>&#9733;&#9733;&#9733;&#9733;&#9733;</small></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </center>-->
<!--        <br>-->
<!--        <br>-->

<!--        <hr/>-->
<!--        <br>-->
<!--         <center><h3>Photos</h3></center>-->
<!--    <center>-->
<!--       {% for image in app.appimage_set.all %}-->
<!--       <img src="{{image.image.url}}" width="200" height="200" class="img-thumbnail" alt="...">-->
<!--       {% endfor %}-->
<!--</center>-->
<!--        <hr>-->
<!--        <center><h3>add comment</h3></center>-->
<!--        <form>-->
<!--            <div class="mb-3">-->
<!--                <label for="exampleInputEmail1" class="form-label">title</label>-->
<!--                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--            </div>-->
<!--            <div class="mb-3">-->
<!--                <label for="exampleInputPassword1" class="form-label">comment</label>-->
<!--                <textarea id="exampleInputPassword1" class="form-control"></textarea>-->
<!--            </div>-->
<!--            <div class="mb-3">-->
<!--                <label for="exampleInputPassword4" class="form-label">Rating</label>-->
<!--                <input type="range" class="form-range" min="0" max="5" id="customRange2">-->
<!--            </div>-->

<!--            <button type="submit" class="btn btn-outline-primary">Submit</button>-->
<!--        </form>-->
<!--        <hr>-->
<!--        <center><h3>comments</h3></center>-->
<!--        <br><br><br>-->


<!--    </div>-->
{% endblock %}