{% extends 'oneXbet/football/league.html' %}
{% block football %}
<table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">team</th>
                    <th scope="col">win</th>
                    <th scope="col">draw</th>
                    <th scope="col">lose</th>
                    <th scope="col">total</th>
                </tr>
                </thead>
                <tbody>

                {% for foo in league.club_set.all %}
                    <tr>
                        <th scope="row">{{ foo.pk }}</th>
                        <td><img src="{{ foo.poster.url }}" width="50" height="50" alt="..."></td>
                        <td>{{ foo.wins }}</td>
                        <td>{{ foo.draws }}</td>
                        <td>{{ foo.loses }}</td>
                        <td>{{ foo.point }}</td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
{% endblock %}